:root {
  --color-primary: #680262;
  --color-background: #F8F9FE;
  --color-title: #151827;
  --color-body-font: #85859B;
  --color-stroke: #CFD1DD;
  --color-hover: #490245;
  --color-hover-font: #FFFFFF;
}
