@use "../../../global-styles/styles/normalize.scss";
@use "../../../global-styles/styles/root.scss";
@use "../../../global-styles/styles/fonts.scss";

.home-page{
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-background);
    padding-top: 73px;
    font-size: 16px;

    &_content-container{
        width: 460px;
        margin: 0 auto;
        align-items: center; 
        text-align: center;
        border-radius: 16px;
        background-color: var(--color-container);

        &_statement{
            width: 347px;
            height: 112px;
            margin-top: 32px;
            color: var(--color-body-font);
            gap:16px;
            letter-spacing: -0.01em;

            h1{
                font-size: 38px;
                color: var(--color-title);
            }
    
        }

        &_selected-subscription{
            background-color: var(--color-background);
            border-radius: 16px;
            width: 428px;
            height: 83px;
            margin-top: 40px;

            i{
                width: 24px;
                height: 24px;
                margin: 30px;
            }

            &_price{
                color: var(--color-body-font);
                font-size: 14px;

                h2{
                    font-size: 18px;
                    color: var(--color-title);
                }
            }
        }
    }
}