@use "../../../global-styles/styles/normalize.scss";
@use "../../../global-styles/styles/root.scss";
@use "../../../global-styles/styles/fonts.scss";

$borderRadius: 16px;
$elementWidth: 428px;
$mediaElementWidth: 311px;
$marginBtnText: 15px;
$displayNone: none;


.home-page{
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-background);
    font-size: 16px;

    &_content-container{
        width: 460px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        align-items: center; 
        text-align: center;
        border-radius: $borderRadius;
        background-color: var(--color-container);

        img{
            border-radius: 16px 16px 0px 0px;
        }

        &_statement{
            width: 347px;
            height: 112px;
            margin-top: 32px;
            color: var(--color-body-font);
            gap:16px;
            letter-spacing: -0.01em;

            h1{
                font-size: 38px;
                color: var(--color-title);
            }
    
        }

        &_selected-subscription{
            background-color: var(--color-background);
            border-radius: $borderRadius;
            width: $elementWidth;
            height: 83px;
            margin-top: 40px;

            i{
                font-size: 24px;
                margin: 30px;
            }

            &_price{
                color: var(--color-body-font);
                height: 50px;
                font-size: 14px;
                text-align: start;
                padding-left: 32px;
                margin: 17px 0px 17px 0px;
                border-left: 2px solid var(--color-stroke);
                line-height: 2px;
                

                h2{
                    font-size: 18px;
                    color: var(--color-title);
                }
            }

            a{
                color: var(--color-primary);
                margin: 29px 32px 29px 0px;
                font-weight: bold;
            }

            a:hover{
                color: var(--color-hover);
            }
        }

        &_payment-confirmation{
            width: $elementWidth;
            height: 56px;
            background-color: var(--color-primary);
            border-radius: $borderRadius;
            margin-top: 32px;
            border-style: none;
            color: var(--color-container);
            padding: 15px;

            &_btn-text{
                color: var(--color-container);
                margin-left: $marginBtnText;
            }

            &_btn-text-none{
                display: $displayNone;
            }


            &_btn-load{
                display: $displayNone;
            }

            &_btn-load-active{
                display: block;
                color: var(--color-container);
                margin-left: $marginBtnText;
            }
        }

        &_payment-confirmation:hover{
            background-color: var(--color-hover);
        }

        &_cancel-order{
            margin-top: 20px;
            margin-bottom: 32px;
            color: var(--color-title);
            font-weight: bold;
        }
    }

    @media screen and (max-width: 1024px) {
        &_content-container{
            width: 343px;

            img{
                width: 343px;
            }

            &_statement{
                width: $mediaElementWidth;
                height: 93px;
                margin-top: 40px;
                font-size: 14px;

                h1{
                    font-size: 24px;
                }
            }

            &_selected-subscription{
                width: $mediaElementWidth;
                height: 75px;
                margin-top: 32px;
    
                i{
                    font-size: 24px;
                    margin: 25px;
                }

            &_price{
                height: 43px;
                font-size: 12px;        
                padding-left: 24px;
                margin: 16px 0px 16px 0px;

                h2{
                    font-size: 16px;
                }
            }

            a{
                font-size: 14px;
                margin: 27px 24px 27px 0px;
            }
        }

            &_payment-confirmation{
                width: $mediaElementWidth;
                height: 56px;
            }
    
            &_cancel-order{
                margin-top: 20px;
                margin-bottom: 24px;
                font-size: 14px;
            }
        }
    }

    @media screen and (max-width: 280px) {
        &_content-container{
            width: 260px;

            img{
                width: 260px;
            }

            &_statement{
                width: 240px;
                height: 80px;
                margin-top: 32px;
                font-size: 12px;

                h1{
                    font-size: 20px;
                }
            }

            &_selected-subscription{
                width: 240px;
                height: 60px;
                margin-top: 30px;
    
                i{
                    font-size: 18px;
                    margin: 20px;
                }

            &_price{
                height: 30px;
                font-size: 11px;        
                padding-left: 18px;
                margin: 14px 0px 14px 0px;

                h2{
                    font-size: 14px;
                }
            }


            a{
                font-size: 12px;
                margin: 23px 18px 23px 0px;
            }
        }

            &_payment-confirmation{
                width: 240px;
                height: 50px;
                font-size: 14px;
            }
    
            &_cancel-order{
                margin-top: 20px;
                margin-bottom: 20px;
                font-size: 12px;
            }
            
        }
    }
}